body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/wet_snow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
    position: relative;
}

/* ------------- Header ----------- */
header {
    background-color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 100% !important;
    border-bottom: 1px solid #cccccc;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header-content {
    margin: 0 3rem; 
    overflow: hidden;
}

.name {
    display: inline-block;
    float:left;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 2.5rem;
}

.nav {
    list-style:none;
    padding: 1.3rem 0 0 0;
    float: right;
}

.sepbar {
    color:#efefef;
}

.nav li {
    float:left;
    margin: 0 0.8rem;
}

.nav li a {
    color:#777777;
    text-decoration:none
}

.nav a:hover {
    color:#4aaaa5;
    font-weight: bold;
}

/* ------------- Main Content Area  ----------- */
.main-content {
    display: block;
    clear: both;
    background-color: #ffffff;
    width: 75%;
    margin: 6rem 3rem 5.5rem 3rem; /* main content in between sticky header and footer */
    overflow: auto;
    border: 1px solid #cccccc;

}

/* ------------- Section and Section Header ----------- */
section {
    margin: 1rem auto;
    padding: 0 2rem;
}

section h1 {
    color: #4aaaa5;
}

.main-hr {
    background-color: #efefef;
}

/* ------------------ Article -----------------*/
article {
    margin: 2rem 0 0 0;
}

/* ------------- Footer ----------- */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    clear: both;
    border-top: 0.6rem solid #4aaaa5;
    margin-top: 1rem;
}

.footer-content {
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    width: 100%;
    font-size: 0.8rem;
    padding: 1.8rem 0 1.3rem 0;
} 

/* ---------- index.html specific rules -------------- */
.me-img {
    float: left;
    padding-right: 1.5rem;
}

.about-me {
    font-size: 1rem;
    line-height: 2rem;
}

/* ---------- portfolio.html specific rules -------------- */
.img-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
}

.img-container {
    display: inline-block;
    width: 40%;
    position: relative;
}

.img-container img {
    width: 100%;
    height: auto;
}

.img-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    padding-top: 1.5rem;
} 

/* --------------- contact.html specific rules --------------*/
input {
    width: 100%;
    height: 1.8rem;
    margin-bottom: 1.5rem;
    border: 1px solid #cccccc;
}

.input-msg {
    height: 8rem;
    
}

.input-submit {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100px;
    height: 3rem;
    padding: auto 2rem;
    text-align: center;
    cursor: pointer;
}

.input-submit:hover {
    background-color: #ffffff;
    color: #4aaaa5;
    font-weight: bold;
}

/* ------------ Screen size up to 768px ---------------- */
@media screen and (max-width: 768px) {

    .name {
        /* smaller size and padding */
        font-size: 1.5rem; 
        padding: 1.2rem 2rem;
    }

    .sepbar {
        /* Do not show separate bars to save space */
        display: none;
    }

    .main-content {
        /* Content occupies more space */
        width: 95%;
        margin: 6rem auto 5.5rem auto;
    }

    .img-container {
        /* Images occupies more space. This will make the space between images smaller */
        width: 45%;
    }
    
    .img-caption {
        /* Smaller caption */
        height: 2rem;
        padding-top: 1rem;
    } 
}

/* ------------ Screen size up to 640px ---------------- */
@media screen and (max-width: 640px) {

    header {
        /* header not sticky in small screens */
        position: static; 
        text-align: center;
    }

    .header-content {
        /* Occupies all space available */
        margin: 0;
    }

    .name {
        display: block;
        width: 100%;
        float: none;
        padding: 1.5rem 0;
    }
    
    .nav {
        /* Separate line for navbar */
        clear: both;
        padding: 0.5rem 0;
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav li {
        /* Navbar items closer */
        margin: 0 0.2rem;
        text-align: center;
    }

    .main-content {
        /* Header not sticky, need to adjust margin top */
        margin: 1rem auto 5.5rem auto;
    }

    .me-img {
        /* Image in separate line */
        display: block;
        width: 100%;
        height: auto;
        padding: 1em;
    }
    
    .img-row {
        /* One image a row */
        display: inline;
    }

    .img-container {
        /* One image a row */
        display: block;
        clear: both;
        width: 95%;
        margin-bottom: 2rem;
    }

}